.fixed_content
  %ul.icons
    %li
      = link_to 'mailto:mike@heitzke.com', :class => 'icon-email' do
        %span mike@heitzke.com
    %li
      = link_to 'http://www.twitter.com/heitzke', :class => 'icon-twitter', :target => '_blank' do
        %span Twitter
    %li
      = link_to 'http://www.dribbble.com/heitzke', :class => 'icon-dribbble', :target => '_blank' do
        %span Dribbble
    %li
      = link_to 'http://www.github.com/heitzke', :class => 'icon-github', :target => '_blank' do
        %span Github
    %li
      = link_to 'http://www.linkedin.com/pub/mike-heitzke/11/38b/15', :class => 'icon-linked-in', :target => '_blank' do
        %span.visually-hidden LinkedIn

