.fixed_content
  %ul.contact
    %li p: 830.377.2589
    %li
      e:
      = link_to 'mike@heitzke.com', 'mailto:mike@heitzke.com'
  %ul.icons
    %li
      = link_to 'Twitter', 'http://www.twitter.com/heitzke', :class => 'twitter', :target => '_blank'
    %li
      = link_to 'Forrst', 'http://forrst.com/people/heitzke', :class => 'forrst', :target => '_blank'
    %li
      = link_to 'Dribbble', 'http://www.dribbble.com/heitzke', :class => 'dribbble', :target => '_blank'
    %li
      = link_to 'Github', 'http://www.github.com/heitzke', :class => 'github', :target => '_blank'
