%footer{:role => 'contentinfo'}
  %ul.icons
    %li
      = link_to 'http://www.twitter.com/heitzke', :class => 'icon-twitter', :target => '_blank' do
        %span.visually-hidden Twitter
    %li
      = link_to 'http://www.dribbble.com/heitzke', :class => 'icon-dribbble', :target => '_blank' do
        %span.visually-hidden Dribbble
    %li
      = link_to 'http://instagram.com/heitzke', :class => 'icon-insta', :target => '_blank' do
        %span.visually-hidden Instagram
    %li
      = link_to 'mailto:mike@heitzke.com', :class => 'icon-email' do
        %span.visually-hidden mike@heitzke.com
    %li
      = link_to 'http://www.github.com/heitzke', :class => 'icon-github', :target => '_blank' do
        %span.visually-hidden Github


