- @title = "About - Mike Heitzke - UI/Web Designer"

.fixed_content
  %h2 Hey friend
  .page_content
    = image_tag 'about_me.png', :class => 'right'
    %p 
      Despite recent popularity in random terms, I'm not a ninja, rockstar or a badger of any flavor. I'm Mike Heitzke, Birmingham based UI designer, husband, dog father, constant breaker of vehicles, craft beer lover & fitness enthusiast. 
      All kinds of adjectives describe me fairly well, but what I do is craft beautiful & usable interfaces.
    %p
      I love working within this industry and continuing to develop and grow a day at a time. I've been working at RoR focused shops for the last few years and have really fallen in love with the development style & cycle. HAML & SCSS rock my world, and I'd *actually* like to hear about your open-source project. 
    %p
      You can find me at any of those little links in the footer. If you're lazy, you can check out some work on
      = link_to 'Dribbble', 'http://www.dribbble.com/heitzke'
      and
      = link_to 'Forrst.', 'https://forrst.com/people/heitzke'
      You can also talk to me on
      = link_to 'Twitter', 'http://www.twitter.com/heitzke'
      and
      = link_to 'Facebook', 'http://www.facebook.com/heitzke'
      
      

    //%h5 Find me on the interwebs:
    //= link_to '@Heitzke', 'twitter/heitzke'
    //= link_to 'Look at my code and judge me - Github', 'github.com/heitzke'
    //= link_to 'See what I\'m working on at Dribbble', 'dribbble.com/heitzke'
    //= link_to 'See the same stuff I post on Dribbble on Forrst', 'forrst.com/people/heitzke'
    //= link_to 'Email me funny .gifs', 'mailto:mike@heitzke.com'