- @title = "Work - Mike Heitzke - UI/Web Designer"

.fixed_content
  %h2 Check it out
  .page_content
    .work_block
      %h2 Pro Hockey Team Central
      .work_content
        %p iOS app that includes news, scores, schedules, rosters & seating charts for all 30 NHL teams. Responsibilities included UI design & graphic work. 
      .work_image
        = image_tag 'slide_1.png'
    .work_block
      %h2 Incubate!(bang)
      .work_content
        %p Mobile first redesign of Incubate!(bang), the in house sponsored incubator for local startups. Participants submit applications and winners come out with development time, inital founder salaries, workspace & business guidance. Responsibilities included design & implementation.
        %p Build using Middleman via Nathos
        = link_to 'Visit Site', 'http://www.incubatebang.com', :target => "_blank"
      .work_image
        = image_tag 'slide_2.png'
    .work_block
      %h2 Isotope11
      .work_content
        %p Mobile first redesign of Isotope11. Worked from identifying target audience, to refining the company message, massaging content and improving the overall site experience. Responsibilities included UI design & implementation.
        = link_to 'Visit Site', 'http://www.isotope11.com', :target => "_blank"
      .work_image
        = image_tag 'slide_3.png'
    .work_block
      %h2 Autopartstomorrow
      .work_content
        %p APT is a major retailer of value-line parts. Responsibilities for this project included identification of potential user bottlenecks, redesigning & total reimplementation of the front-end (as well as a huge backend overhaul, but I can't take any credit for all of that hard work myself).
        = link_to 'Visit Site', 'http://www.autopartstomorrow.com', :target => "_blank"
      .work_image
        = image_tag 'apt.png'
    .work_block
      %h2 Freshfully
      .work_content
        %p Freshfully is the original successor of the Incubate!(bang) accelerator. Responsibilities included font-end UI design & implementation.
        = link_to 'Visit Site', 'http://www.freshfully.com', :target => "_blank"
      .work_image
        = image_tag 'freshfully.png'
    .work_block
      %h2 Alabamaintel
      .work_content
        %p Alabamaintel sought to be a top source for Alabama team & recruiting news. Responsibilities included font-end UI design & implementation.
        %p I would provide a link to view the project, but the current staff have hacked it up pretty badly. So it goes. 
      .work_image
        = image_tag 'alabamaintel.png'
    .clear
    %h2 More coming soon....
